<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CPS Uncertainty Specification Tool</title>
  </head>
  <body>
    <h1>CPS Uncertainty Specification Tool</h1>

    {% include "partials/scenario_form.html" %}

    {% if validation_was_requested %}
      {% include "partials/validation_output.html" %}
      {% include "partials/json_output.html" %}
    {% endif %}

    {% include "partials/model_template.html" %}
    {% include "partials/element_template.html" %}
    {% include "partials/relation_template.html" %}

    <script src="{{ url_for('static', filename='form.js') }}"></script>
  </body>
</html>
